@import "tailwindcss";

@theme {
  --color-text: #2d2d2d;
  --color-background: #ffffff;
  --color-primary: #5821f7;
  --color-secondary: #b9b1ff;
  --color-accent: #ffbc12;
  --color-text-dark: #eeeeee;
  --color-background-dark: #181818;
  --color-primary-dark: #a798ff;
  --color-secondary-dark: #d6d4ff;
  --color-accent-dark: #fbb13b;

  --breakpoint-3xl: 120rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-epilogue), Arial, Helvetica, sans-serif;
}
